/*common*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #d6c9ba;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #F3EEE6;
    border-radius: 5px;
  }


  
body{
    font-family: "Noto Sans JP";
}



.content{

    margin: 0 auto;

}


nav ul li{
    display: inline-block;

}

h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}
h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

a{
    color: #111;
}

a:hover{
    text-decoration: none;
}



footer p{
    font-size: 12px;
    color: #ccc;;
}




.h_img {
    width: 30px;
    height: 30px;
    border: #fff solid 1px;
    border-radius: 20px;
  }
  
  .hamburger_cart_login {
    position: fixed;
    z-index: 1000;
    text-align: right;
    display: flex;
    align-items: center;
    top: 30px;
    margin: 0 auto;
    padding-right: 100px;
    right: 0;
  }
  .cart_img img {
    width: 60px;
    margin-right: 3px;
  }
  
  .login {
    padding-right: 30px;
    padding-left: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 10px;
    padding-top: 2px;
    color: #AAAAAA;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    letter-spacing: 0.08em;
  }
  
  


  @media screen and (max-width: 480px) {
      .login {
          letter-spacing: none;
      }
      .hamburger_cart_login {
          padding-right: 50px;
      }


      .contact_faq_address_copy {
        flex-wrap: wrap;
      }
      .copy {
        margin-top: 10px;
        text-align: right;
      }
  }
