body {
    background-color: #E8E2DB;
}














.content {
    max-width: 1200px;
}
.top_logo {
    padding: 0px;
    margin: 0px;
    max-width: 300px;
    margin-top: 100px;
    margin-bottom: 40px;
}

header {
    display: flex;
    align-items: baseline;
}





.category_genre {
    display: none;
}
 /*
.category_genre {
    display: flex;
    width: 560px;
    justify-content: space-between;
    
}

.c_g_width {
    width: 560px;
    display: flex;
    justify-content: space-between;
    
}

.c_g_width label {
    justify-content: space-between;
    width: 560px;
}

/*全体
.hidden_box {
    margin: 2em 0;/*前後の余白
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 134px;
    position: relative;
}

/*ボタン装飾
.hidden_box label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    width: 100px;
}

/*ボタンホバー時
.hidden_box label:hover {
    background: #efefef;
}

/*チェックは見えなくする
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    background-color: #fff;

}


.hidden_box ul li {
    width: 110px;
    height: 50px;
    background-color: #aaaaaa;
    margin-right: 25px;
    margin-bottom: 30px;
    justify-content: space-between;

}

.hidden_box ul {
    flex-wrap: wrap;
    display: flex;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 55px;
    margin-left: 80px;
    justify-content: space-between;
}






/*全体
.hidden_box_2 {
    margin: 2em 0;/*前後の余白
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 134px;
}

/*ボタン装飾
.hidden_box_2 label {
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
    width: 100px;
}

/*ボタンホバー時
.hidden_box_2 label:hover {
    background: #efefef;
}

/*チェックは見えなくする
.hidden_box_2 input {
    display: none;
}

/*中身を非表示にしておく
.hidden_box_2 .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示
.hidden_box_2 input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    background-color: #fff;
    
}


.hidden_box_2 ul li {
    width: 110px;
    height: 50px;
    background-color: #aaaaaa;
    margin-right: 25px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.hidden_box_2 ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 55px;
    margin-left: 80px;
}



*/










.worksbox ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.worksbox li {
    margin-bottom: 40px;
}
.worksbox li a img {
    border-radius: 30px;
    max-width: 270px;
}








/*----footer----*/
footer {
    max-width: 1200px;
}

.sns {
    margin-left: 20px;
   
}
.sns img {
    margin-right: 10px;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 40px;
    border-radius: 6px;
}
.insta {
    width: 30px;
}
.twitter {
    width: 31px;
    padding-bottom: 2px;
}
footer p {
    color: #290909;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.contact_faq_address_copy {
  padding-bottom: 0;
  max-width: 1200px;
  display: flex;
  padding-bottom: 40px;
  justify-content: space-between;
  
}
.contact_faq_address,.copy {
  display: flex;
}
.copy {
  right: 0;
  display: flex;
  margin-right: 20px;
}    
/*----footer----*/


@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */

.content {
    max-width: 959px;

}

.top_logo {
    width: 60%;
    margin-left: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.worksbox ul {
    max-width: 959px;
    justify-content: space-evenly;
}
.underline {
    max-width: 959px;
}

}




@media screen and (max-width: 480px) {


.top_logo {
    width: 100px;
    margin-top: 35px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.worksbox li {
    margin-bottom: 20px;
}
.worksbox li a img {
    width: 170px;
    border-radius: 16px;
}

.contact_faq_address_copy {
    flex-wrap: wrap;
  }
  .copy {
    margin-top: 10px;
    text-align: right;
  }
}
